.new-container{
    width: 100%;
    padding: 1rem 3rem;
    background-color: var(--primary-color);
}

.create-section{
    margin: 1rem 0;
}

.create-section .btns-container{
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.create-section .btns-container button{
    padding: 0.2rem 0.4rem;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    transition: 0.2s ease;
}

.create-section .btns-container button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

@media (max-width: 900px) {
  .new-container{
    padding: 1rem 1rem;
  }
}