.sale-form-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sale-form-container textarea{
    width: 350px;
    height: 200px;
    font-size: 1rem;
    resize: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: #32303d;
    color: var(--dark-color);
    padding: 0.2rem;
}

.sale-form-container .inputs-container{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.sale-form-container .inputs-container label{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 4px;
}

.sale-form-container .inputs-container input{
    flex: 1 1 auto;
    height: 35px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.2rem;
    background-color: #32303d;
    color: var(--dark-color);
}

.sale-form-container .checkbox-inputs-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sale-form-container .checkbox-inputs-container input[type="checkbox"]{ 
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
}

.sale-form-container .input-wrapper{
    position: relative;
    flex: 1 1;
    display: flex;
}

.installments-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.installments-header{
    display: flex;
    justify-content: space-between;
}

.installments-header button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--secondary-color);
    padding: 4px 6px;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
    height: 35px;
    width: 35px;
}

.installments-header button:hover{
    background-color: var(--hover-color);
}

.installments-header button img{
    height: 1.2rem;
}

.installments-container .added-installments-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.installments-container .added-installments-container .added-installment{
    display: flex;
    height: auto;
    overflow: hidden;
    gap: 5px;
    flex-wrap: wrap;
}

.installments-container .added-installments-container .added-installment button img{
    height: 40px;
    padding: 0.5rem;
    display: grid;
    place-items: center;
}


.installments-container .added-installments-container .added-installment p {
    flex: 1 1;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    gap: 4px;
    border-radius: 10px;
    background-color: #32303d;
    border: 1px solid var(--border-color);
}


.installment-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.installment-form-container .input-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.installment-form-container .input-container input{
    flex: 1 1;
    height: 35px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: #32303d;
    color: var(--dark-color);
    padding: 0.2rem;
}

.installment-form-container .input-container textarea{
    flex: 1 1;
    height: 35px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: #32303d;
    color: var(--dark-color);
    padding: 0.2rem;
    overflow: hidden;
    min-width: 100px;
    scrollbar-width: 0;
    resize: none;
    white-space: nowrap;
}

.installment-form-container .btn-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.installment-form-container .btn-container button{
    background-color: var(--secondary-color);
    padding: 4px 6px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.installment-form-container .btn-container button:hover{
    background-color: var(--hover-color);
}

.sale-form-container > button {
    background-color: var(--secondary-color);
    padding: 4px 6px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    width: fit-content;
}

.sale-form-container > button:hover {
    background-color: var(--hover-color);
}